
        <!-- FOOTER
        ================================================== -->
        <footer class="pb-6 pt-6 pt-md-10 pt-lg-13 classic-footer">

            <div class="container">
                <div class="row mt-n1-9">

                    <div class="col-sm-6 col-lg-3 mt-1-9">
                        <img src="/img/logos/hoodhub.png" class="footer-logo mb-1-9" alt="...">
                        <h4 class="text-primary h5">+91 7994515578</h4>
                        <span class="font-weight-600 d-block mb-1-6 mb-md-2-3">hoodhub12@gmail.com</span>
                        <ul class="social-icon-style3 mb-0 ps-0">
                            <li>
                                <a href="tel:7994515578"><i class="ti-mobile"></i></a>
                            </li>
                            <li>
                                <a href="mailto:www.yaseenp148@gmail.com"><i class="ti-email"></i></a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/ya.aseen_/"><i class="fab fa-instagram"></i></a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/in/yaseen-ap-786a9a24a/"><i class="fab fa-linkedin-in"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-2 mt-1-9">
                        <h3 class="footer-title">Shop</h3>
                        <ul class="list-style list-unstyled mb-0">
                            <li><a href="/category/643a2f030df3e0d8ee669d33">Mens</a></li>
                            <li><a href="/category/643a37b001cd4cf56db167b4">Womens</a></li>
                            <li><a href="/category/643e4427c786425eae6d313f">Kids</a></li>
                            
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-2 mt-1-9">
                        <h3 class="footer-title">Pages</h3>
                        <ul class="list-style list-unstyled mb-0">
                            <li><a href="/home">Home</a></li>
                            <li><a href="/aboutus">About</a></li>
                            <li><a href="/shop">Shop</a></li>
                            <li><a href="/contact">Contact</a></li>
                        </ul>
                    </div>
                   
                    <div class="col-sm-6 col-md-4 col-lg-2 mt-1-9">
                        <h3 class="footer-title">My Account</h3>
                        <ul class="list-style list-unstyled mb-0">
                            <% if(session!=null){ %>
                            <li><a href="/logout">Logout</a></li>
                            <li><a href="/profile">Profile</a></li>
                            <li><a href="/wishlist">wishlist</a></li>
                            <li><a href="/address">address</a></li>
                            <% }else{ %>
                                <li><a href="/login">Login</a></li>
                                <li><a href="/signup">Sign up</a></li>
                                <% } %>
                        </ul>
                    </div>
                    <div class="col-md-8 col-lg-3 mt-1-9">
                        <div class="ps-xl-1-9">

                            <h3 class="footer-title">We Accept</h3>
                            <ul class="list-style-17">
                                <li><img src="/img/content/payment-options/visa.png" alt="..."></li>
                                <li><img src="/img/content/payment-options/mastercard.png" alt="..."></li>
                                <li><img src="/img/content/payment-options/paypal.png" alt="..."></li>
                                <li><img src="/img/content/payment-options/amex.png" alt="..."></li>
                                <li><img src="/img/content/payment-options/discover.png" alt="..."></li>
                            </ul>
                            <p class="mb-0 mt-1-9 mt-lg-2-3 font-weight-600">&copy; <span class="current-year"></span> HoodHub is Powered by <a href="" target="_blank">Brototype Student</a></p>

                        </div>
                    </div>

                </div>
            </div>

        </footer>

    </div>

    
    <!-- SCROLL TO TOP
    ================================================== -->
    <a href="#" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>

    <!-- all js include start -->

    <!-- jQuery -->
    <script src="/js/jquery.min.js"></script>

    <!-- popper js -->
    <script src="/js/popper.min.js"></script>

    <!-- bootstrap -->
    <script src="/js/bootstrap.min.js"></script>

    <!-- core.min.js -->
    <script src="/js/core.min.js"></script>

    <!-- custom scripts -->
    <script src="/js/main.js"></script>
	
	<!-- all js include end -->

</body>


<!-- Mirrored from smartshop.websitelayout.net/home-shop-3.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 03 Jan 2023 16:00:07 GMT -->
</html>