<%- include('../layouts/userHeader.ejs')  %>


        <!-- PAGE TITLE
        ================================================== -->
        <section class="page-title-section bg-img cover-background" data-background="/img/other/shop5.png">
            <div class="container">

                <div class="title-info">
                    <h1>Contact Us</h1></div>
                <div class="breadcrumbs-info">
                    <ul class="ps-0">
                        <li><a href="/home">Home</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>

            </div>
        </section>

        <!-- CONTACT
        ================================================== -->
        <section class="md">
            <div class="container">
                <div class="row">

                    <div class="col-md-4 mb-4 mb-md-0">
                        <div class="contact-info rounded h-100">
                            <div class="contact-icon">
                                <i class="ti-mobile"></i>
                            </div>
                            <h3 class="display-29 font-weight-500 mb-2">Phone Numbers</h3>
                            <ul class="mb-0 list-unstyled">
                                <li><a href="tel:+91 7994515578">+91 7994515578</a></li>
                                <li><a href="#">+91 7984512468</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4 mb-md-0">
                        <div class="contact-info rounded h-100">
                            <div class="contact-icon">
                                <i class="ti-location-pin"></i>
                            </div>
                            <h3 class="display-29 font-weight-500 mb-2">Location</h3>
                            <p class="mb-0">Bangalore , Hsr Layout
                                <br> Karnataka, India, SK 8GH.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="contact-info rounded h-100">
                            <div class="contact-icon">
                                <i class="ti-email"></i>
                            </div>
                            <h3 class="display-29 font-weight-500 mb-2">Email Address</h3>
                            <ul class="mb-0 list-unstyled">
                                <li><a href="mailto:yaseenap148@gmail.com">hoodhub12@gmail.com</a></li>
                                <li><a href="mailto:yaseenap148@gmail.com">yaseenap148@gmail.com</a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        
        <!-- ADDRESS
        ================================================== -->
        <section class="pt-0">
            <div class="container">

                <div class="row justify-content-center">
                    <div class="col-lg-6 col-md-6 mb-1-9 mb-md-0">

                        <div class="store-details">
                            <div class="contact-img">
                           
                            </div>
                            <div class="info-box">
                                <h5>HSR, Bangalore</h5>
                                <ul class="mb-0 list-unstyled">
                                    <li class="mb-4">
                                        <div class="d-flex align-top">
                                            <div class="info-icon">
                                                <i class="ti-location-pin"></i>
                                            </div>
                                            <div class="ps-4">
                                                <h6 class="info-label">Find us</h6>
                                                <a href="#">Hsr Layouts, Bangalore , Karnataka</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="mb-4">
                                        <div class="d-flex align-top">
                                            <div class="info-icon">
                                                <i class="ti-mobile"></i>
                                            </div>
                                            <div class="ps-4">
                                                <h6 class="info-label">Call us</h6>
                                                <a href="tel:+91 7994515578">+91 7994515578</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="d-flex align-top">
                                            <div class="info-icon">
                                                <i class="ti-email"></i>
                                            </div>
                                            <div class="ps-4">
                                                <h6 class="info-label">Write us</h6>
                                                <a href="mailto:yaseenap148@gmail.com">yaseenap148@gmail.com</a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="store-details">
                            <div class="contact-img">
                           
                            </div>
                            <div class="info-box">
                                <h5>Kannur, Kerala</h5>
                                <ul class="mb-0 list-unstyled">
                                    <li class="mb-4">
                                        <div class="d-flex">
                                            <div class="info-icon">
                                                <i class="ti-location-pin"></i>
                                            </div>
                                            <div class="ps-4">
                                                <h6 class="info-label">Find us</h6>
                                                <a href="#" class="info-link">Kannur Street, Kannur , Kerala</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="mb-4">
                                        <div class="d-flex">
                                            <div class="info-icon">
                                                <i class="ti-mobile"></i>
                                            </div>
                                            <div class="ps-4">
                                                <h6 class="info-label">Call us</h6>
                                                <a href="tel:+91 79515578">+91 7994515578</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="d-flex">
                                            <div class="info-icon">
                                                <i class="ti-email"></i>
                                            </div>
                                            <div class="ps-4">
                                                <h6 class="info-label">Write us</h6>
                                                <a href="mailto:yaseenap148@gmail.com">yaseenap148@gmail.com</a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        
        <!-- CONTACT FORM
        ================================================== -->
        <!-- <section class="pt-0 md">
            <div class="container">

                <div class="text-center mb-1-9 mb-lg-2-3">
                    <h2 class="mb-0">Get In Touch</h2>
                </div>

                <div class="row">
                    <div class="col-lg-10 mx-auto">

                        <form>

                            <div class="row">

                                <div class="col-sm-6">

                                    <div class="form-group">
                                        <label>Your Name</label>
                                        <input type="text" class="form-control" name="name" placeholder="Your name here">
                                    </div>

                                </div>

                                <div class="col-sm-6">

                                    <div class="form-group">
                                        <label>Your Email</label>
                                        <input type="email" class="form-control" name="email" placeholder="Your email here">
                                    </div>

                                </div>

                            </div>

                            <div class="row">

                                <div class="col-sm-6">

                                    <div class="form-group">
                                        <label>Company Name</label>
                                        <input type="text" class="form-control" name="companyname" placeholder="Your company name">
                                    </div>

                                </div>

                                <div class="col-sm-6">

                                    <div class="form-group">
                                        <label>Contact Number</label>
                                        <input type="text" class="form-control" name="phone" placeholder="+40-123 456 789">
                                    </div>

                                </div>

                            </div>

                            <div class="row">

                                <div class="col-12 mb-4">

                                    <label>Message</label>
                                    <div class="form-group mb-1">
                                        <textarea rows="3" class="form-control" placeholder="Tell us a few words"></textarea>
                                    </div>

                                </div>

                            </div>

                            <button type="button" class="butn-style2">Send Message</button>

                        </form>

                    </div>
                </div>
            </div>
        </section> -->
        
        <!-- MAP
        ================================================== -->
        <div class="row position-relative">
            <div class="col-12">
                <iframe width="100%" height="350" id="gmap_canvas" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31111.684332800316!2d77.62522305261471!3d12.9102576435482!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae1491bfdc6ecd%3A0xf232718439fbc879!2sHSR%20Layout%2C%20Bengaluru%2C%20Karnataka!5e0!3m2!1sen!2sin!4v1682913183724!5m2!1sen!2sin" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                
            </div>
        </div>


<%- include('../layouts/userFooter.ejs')  %>