<%- include('../layouts/userHeader.ejs')  %>

  
        <!-- CATEGORY MP-MENU
        ================================================== -->
        <div id="mp-menu" class="mp-menu">
            <div class="mp-level">
                <h2>All Categories</h2>
                <ul>
                    <li class="mp-has-sub">
                        <a href="#">Devices</a>
                        <div class="mp-level">
                            <h2>Devices</h2>
                            <a class="mp-back" href="#">back</a>
                            <ul>
                                <li class="mp-has-sub">
                                    <a href="#">Mobiles Phones</a>
                                    <div class="mp-level">
                                        <h2>Mobile Phones</h2>
                                        <a class="mp-back" href="#">back</a>
                                        <ul>
                                            <li><a href="#">Apple Mobile</a></li>
                                            <li><a href="#">OnePlus Mobile</a></li>
                                            <li><a href="#">Lenovo Mobile</a></li>
                                            <li><a href="#">Micromax Mobile</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="mp-has-sub">
                                    <a href="#">Laptops</a>
                                    <div class="mp-level">
                                        <h2>Laptops</h2>
                                        <a class="mp-back" href="#">back</a>
                                        <ul>
                                            <li><a href="#">Thin Laptops</a></li>
                                            <li><a href="#">2-in-1 Laptops</a></li>
                                            <li><a href="#">Gaming Laptops</a></li>
                                            <li><a href="#">Budget Laptops</a></li>
                                            <li><a href="#">Light Laptops</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="mp-has-sub">
                                    <a href="#">Televisions</a>
                                    <div class="mp-level">
                                        <h2>Televisions</h2>
                                        <a class="mp-back" href="#">back</a>
                                        <ul>
                                            <li><a href="#">Smart TV</a></li>
                                            <li><a href="#">Full HD TV</a></li>
                                            <li><a href="#">Android TV</a></li>
                                            <li><a href="#">4K TV</a></li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="mp-has-sub">
                        <a href="#">Beauty &amp; Health</a>
                        <div class="mp-level">
                            <h2>Beauty &amp; Health</h2>
                            <a class="mp-back" href="#">back</a>
                            <ul>
                                <li><a href="#">Grooming</a></li>
                                <li><a href="#">Luxury Beauty</a></li>
                                <li><a href="#">Make-up</a></li>
                                <li><a href="#">Personal Care</a></li>
                                <li><a href="#">Nutrition Care</a></li>
                                <li><a href="#">Health Care</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="mp-has-sub">
                        <a href="#">Store</a>
                        <div class="mp-level">
                            <h2>Store</h2>
                            <a class="mp-back" href="#">back</a>
                            <ul>
                                <li class="mp-has-sub">
                                    <a class="icon icon-t-shirt" href="#">Clothes</a>
                                    <div class="mp-level">
                                        <h2 class="icon icon-t-shirt">Clothes</h2>
                                        <a class="mp-back" href="#">back</a>
                                        <ul>
                                            <li>
                                                <a class="icon icon-female" href="#">Women's Clothing</a>
                                            </li>
                                            <li>
                                                <a class="icon icon-male" href="#">Men's Clothing</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <a class="icon icon-diamond" href="#">Watches</a>
                                </li>
                                <li>
                                    <a class="icon icon-music" href="#">Shoes</a>
                                </li>
                                <li>
                                    <a class="icon icon-food" href="#">Jewellery</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="#">Books &amp; Audible</a></li>
                    <li><a href="#">Movies &amp; Games</a></li>
                </ul>

            </div>
        </div>

        <!-- PAGE TITLE
        ================================================== -->
        <section class="page-title-section bg-img cover-background" data-background="img/bg/page-title.jpg">
            <div class="container">

                <div class="title-info">
                    <h1>Shop Categories</h1></div>
                <div class="breadcrumbs-info">
                    <ul class="ps-0">
                        <li><a href="home-shop-1.html">Home</a></li>
                        <li><a href="#">Shop Categories</a></li>
                    </ul>
                </div>

            </div>
        </section>
        
        <!-- CATEGORY
        ================================================== -->
        <section>
            <div class="container">
                <div class="row">

                    <!-- sidebar panel -->
                    <div class="col-lg-3 col-12 side-bar order-2 order-lg-1">
                        <div class="widget">
                            <div class="widget-title">
                                <h5>Categories</h5>
                            </div>
                            <div id="accordion" class="accordion-style2">
                                <div class="card">
                                    <div class="card-header" id="headingOne">
                                        <h5 class="mb-0">
                                    <button class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Shirts</button>
                                        </h5>
                                    </div>
                                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-bs-parent="#accordion">
                                        <div class="card-body">
                                            <ul class="list-unstyled">
                                                <li><a href="#">Casual Shirts</a></li>
                                                <li><a href="#">Formal Shirts</a></li>
                                                <li><a href="#">Longline Shirts</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingTwo">
                                        <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                      Jeans
                                    </button>
                                  </h5>
                                    </div>
                                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-bs-parent="#accordion">
                                        <div class="card-body">
                                            <ul class="list-unstyled">
                                                <li><a href="#">Regular Jeans</a></li>
                                                <li><a href="#">Denim Jeans</a></li>
                                                <li><a href="#">Low Rise Jeans</a></li>
                                                <li><a href="#">Mid Rise Denims</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingThree">
                                        <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                      Shoes
                                    </button>
                                  </h5>
                                    </div>
                                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-bs-parent="#accordion">
                                        <div class="card-body">
                                            <ul class="list-unstyled">
                                                <li><a href="#">Sports Shoes</a></li>
                                                <li><a href="#">Wedding Shoes</a></li>
                                                <li><a href="#">Loafers Shoes</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingFour">
                                        <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                      T-Shirts
                                    </button>
                                  </h5>
                                    </div>
                                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-bs-parent="#accordion">
                                        <div class="card-body">
                                            <ul class="list-unstyled">
                                                <li><a href="#">Polo T-Shirt</a></li>
                                                <li><a href="#">V-neck T-Shirt</a></li>
                                                <li><a href="#">Striped T-Shirt</a></li>
                                                <li><a href="#">Graphic T-Shirt</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingFive">
                                        <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                      Mobile
                                    </button>
                                  </h5>
                                    </div>
                                    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-bs-parent="#accordion">
                                        <div class="card-body">
                                            <ul class="list-unstyled">
                                                <li><a href="#">Intex</a></li>
                                                <li><a href="#">Google</a></li>
                                                <li><a href="#">Samsung</a></li>
                                                <li><a href="#">Apple</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="widget">
                            <div class="widget-title">
                                <h5>Price Range</h5>
                            </div>
                            <input type="text" class="price-range" name="my_range" value="">
                            <a href="#" class="butn-style2 small mt-1-9">Filter</a>
                        </div>

                        <div class="widget">

                            <div class="widget-title">
                                <h5>Popular Products</h5>
                            </div>

                            <div class="d-flex mb-4">
                                <div class="flex-shrink-0">
                                    <img src="img/products/thumbs/thumb-06.jpg" alt="...">
                                </div>
                                <div class="flex-grow-1 ms-3">
                                    <a href="#" class="mb-1 font-weight-600 text-extra-dark-gray">Men's Football Boots</a>
                                    <span class="d-block">$15.00</span>
                                </div>
                            </div>

                            <div class="d-flex mb-4">
                                <div class="flex-shrink-0">
                                    <img src="img/products/thumbs/thumb-01.jpg" alt="...">
                                </div>
                                <div class="flex-grow-1 ms-3">
                                    <a href="#" class="mb-1 font-weight-600 text-extra-dark-gray">Leather Motorcycle Gloves</a>
                                    <span class="d-block">$12.10</span>
                                </div>
                            </div>

                            <div class="d-flex">
                                <div class="flex-shrink-0">
                                    <img src="img/products/thumbs/thumb-02.jpg" alt="...">
                                </div>
                                <div class="flex-grow-1 ms-3">
                                    <a href="#" class="mb-1 font-weight-600 text-extra-dark-gray"> Sun Protection Cap </a>
                                    <span class="d-block">$10.20</span>
                                </div>
                            </div>

                        </div>

                        <div class="widget">

                            <div class="widget-title">
                                <h5>Select by Discount</h5>
                            </div>

                            <ul class="list-discount list-unstyled">

                                <li class="form-check text-start">
                                    <input class="form-check-input" type="checkbox" value="" id="ten_pecentage">
                                    <label class="form-check-label" for="ten_pecentage">10% off or more</label>
                                </li>

                                <li class="form-check text-start">
                                    <input class="form-check-input" type="checkbox" value="" id="twenty_pecentage">
                                    <label class="form-check-label" for="twenty_pecentage">20% off or more</label>
                                </li>

                                <li class="form-check text-start">
                                    <input class="form-check-input" type="checkbox" value="" id="thirty_pecentage">
                                    <label class="form-check-label" for="thirty_pecentage">30% off or more</label>
                                </li>

                                <li class="form-check text-start">
                                    <input class="form-check-input" type="checkbox" value="" id="fourty_pecentage">
                                    <label class="form-check-label" for="fourty_pecentage">40% off or more</label>
                                </li>

                            </ul>
                        </div>

                        <div class="offer-slider owl-carousel owl-theme">

                            <div class="offer-banner-slider" style="background-image:url(img/offer-banner/offer-slide-01.jpg);">
                                <div class="offer-text">
                                    <h6 class="mb-1 text-white font-weight-500">Men's</h6>
                                    <h4 class="font-weight-500"><a href="#">Up to 50% Off</a></h4>
                                    <p>Lorem ipsum dolor sit amet consectetur</p>
                                    <a class="butn-style1 fill small" href="#"><span>Buy Now</span></a>
                                </div>
                            </div>

                            <div class="offer-banner-slider" style="background-image:url(img/offer-banner/offer-slide-02.jpg);">
                                <div class="offer-text">
                                    <h6 class="mb-1 text-white font-weight-500">Women's</h6>
                                    <h4 class="font-weight-500"><a href="#" class="text-white">Up to 70% Off</a></h4>
                                    <p>Lorem ipsum dolor sit amet consectetur</p>
                                    <a class="butn-style1 fill small" href="#"><span>Buy Now</span></a>
                                </div>
                            </div>

                            <div class="offer-banner-slider" style="background-image:url(img/offer-banner/offer-slide-03.jpg);">
                                <div class="offer-text">
                                    <h6 class="mb-1 text-white font-weight-500">Electronics</h6>
                                    <h4 class="font-weight-500"><a href="#" class="text-white">Mega Sale</a></h4>
                                    <p>Lorem ipsum dolor sit amet consectetur</p>
                                    <a class="butn-style1 fill small" href="#"><span>Buy Now</span></a>
                                </div>
                            </div>

                        </div>

                    </div>
                    <!-- end sidebar panel -->

                    <!-- right panel section -->
                    <div class="col-lg-9 col-12 ps-lg-1-9 order-1 order-lg-2 mb-1-9 mb-lg-0">

                        <!-- offer banner -->

                        <div class="bg-img cover-background mb-5 py-6 py-md-8 px-1-6 px-lg-6" data-background="img/offer-banner/offer-banner-01.jpg">

                            <h5 class="mb-0 font-weight-400 display-29 display-lg-28">At discounted price. Hurry up!</h5>
                            <h2 class="mb-4 display-22 display-md-20 display-lg-18">Electronics Store</h2>

                            <div class="classic mb-1-9">
                                <ul class="countdown m-0">
                                    <!-- days -->
                                    <li><span class="days">00</span>
                                        <p class="timeRefDays text-center">days</p>
                                    </li>
                                    <!-- end days -->
                                    <!-- hours -->
                                    <li><span class="hours">00</span>
                                        <p class="timeRefHours">hours</p>
                                    </li>
                                    <!-- end hours -->
                                    <!-- minutes -->
                                    <li><span class="minutes">00</span>
                                        <p class="timeRefMinutes">minutes</p>
                                    </li>
                                    <!-- end minutes -->
                                    <!-- seconds -->
                                    <li><span class="seconds">00</span>
                                        <p class="timeRefSeconds">seconds</p>
                                    </li>
                                    <!-- end seconds -->
                                </ul>
                            </div>

                            <a href="#" class="butn-style2"><span>Shop Now</span><i class="fas fa-arrow-right ms-2"></i></a>

                        </div>

                        <!-- end offer banner -->

                        <div class="inner-title">
                            <h3 class="mb-0">Electronics</h3>
                            <p class="mb-0">The wise choice for electronics buffs.</p>
                        </div>

                        <div class="row mb-5">

                            <div class="col-md-6 mb-4 mb-md-0">

                                <div class="product-card large">
                                    <a href="shop-product-grid.html" class="product-card-img">
                                        <div class="inner">
                                            <div class="main-img">
                                                <img src="img/product-categories/category-main-01.jpg" alt="...">
                                            </div>
                                        </div>
                                    </a>
                                    <div class="product-card-detail">
                                        <h3 class="mb-0"><a href="shop-product-grid.html">Electronics Deals</a></h3>
                                    </div>
                                </div>

                            </div>

                            <div class="col-md-6">

                                <div class="row h-100">

                                    <div class="col-6 mb-4">
                                        <div class="product-card">
                                            <a href="shop-product-grid.html" class="product-card-img">
                                                <div class="inner">
                                                    <div class="main-img">
                                                        <img src="img/product-categories/category-01.jpg" alt="...">
                                                    </div>
                                                </div>
                                            </a>
                                            <div class="product-card-detail">
                                                <h3 class="mb-0"><a href="shop-product-grid.html">Echo Spot</a></h3>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-6 mb-4">
                                        <div class="product-card">
                                            <a href="shop-product-grid.html" class="product-card-img">
                                                <div class="inner">
                                                    <div class="main-img">
                                                        <img src="img/product-categories/category-02.jpg" alt="...">
                                                    </div>
                                                </div>
                                            </a>
                                            <div class="product-card-detail">
                                                <h3 class="mb-0"><a href="shop-product-grid.html">Camera Phone</a></h3>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-6">
                                        <div class="product-card">
                                            <a href="shop-product-grid.html" class="product-card-img">
                                                <div class="inner">
                                                    <div class="main-img">
                                                        <img src="img/product-categories/category-03.jpg" alt="...">
                                                    </div>
                                                </div>
                                            </a>
                                            <div class="product-card-detail">
                                                <h3 class="mb-0"><a href="shop-product-grid.html">Laptops</a></h3>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-6">
                                        <div class="product-card">
                                            <a href="shop-product-grid.html" class="product-card-img">
                                                <div class="inner">
                                                    <div class="main-img">
                                                        <img src="img/product-categories/category-04.jpg" alt="...">
                                                    </div>
                                                </div>
                                            </a>
                                            <div class="product-card-detail">
                                                <h3 class="mb-0"><a href="shop-product-grid.html">Security CCTV</a></h3>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>

                        </div>

                        <div class="inner-title">
                            <h3 class="mb-0">Fashion</h3>
                            <p class="mb-0">Superb fashion, nonpareil.</p>
                        </div>

                        <div class="row">

                            <div class="col-md-6 mb-4 mb-md-0">

                                <div class="product-card large">
                                    <a href="shop-product-grid.html" class="product-card-img">
                                        <div class="inner">
                                            <div class="main-img">
                                                <img src="img/product-categories/category-main-02.jpg" alt="...">
                                            </div>
                                        </div>
                                    </a>
                                    <div class="product-card-detail">
                                        <h3 class="mb-0"><a href="shop-product-grid.html">Fashion Deals</a></h3>
                                    </div>
                                </div>

                            </div>

                            <div class="col-md-6">

                                <div class="row h-100">

                                    <div class="col-6 mb-4">
                                        <div class="product-card">
                                            <a href="shop-product-grid.html" class="product-card-img">
                                                <div class="inner">
                                                    <div class="main-img">
                                                        <img src="img/product-categories/category-05.jpg" alt="...">
                                                    </div>
                                                </div>
                                            </a>
                                            <div class="product-card-detail">
                                                <h3 class="mb-0"><a href="shop-product-grid.html">Men's</a></h3>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-6 mb-4">
                                        <div class="product-card">
                                            <a href="shop-product-grid.html" class="product-card-img">
                                                <div class="inner">
                                                    <div class="main-img">
                                                        <img src="img/product-categories/category-06.jpg" alt="...">
                                                    </div>
                                                </div>
                                            </a>
                                            <div class="product-card-detail">
                                                <h3 class="mb-0"><a href="shop-product-grid.html">Women's</a></h3>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-6">
                                        <div class="product-card">
                                            <a href="shop-product-grid.html" class="product-card-img">
                                                <div class="inner">
                                                    <div class="main-img">
                                                        <img src="img/product-categories/category-07.jpg" alt="...">
                                                    </div>
                                                </div>
                                            </a>
                                            <div class="product-card-detail">
                                                <h3 class="mb-0"><a href="shop-product-grid.html">Accessories</a></h3>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-6">
                                        <div class="product-card">
                                            <a href="shop-product-grid.html" class="product-card-img">
                                                <div class="inner">
                                                    <div class="main-img">
                                                        <img src="img/product-categories/category-08.jpg" alt="...">
                                                    </div>
                                                </div>
                                            </a>
                                            <div class="product-card-detail">
                                                <h3 class="mb-0"><a href="shop-product-grid.html">Footwear</a></h3>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>
                    <!-- end right panel section -->

                </div>
            </div>
        </section>






<%- include('../layouts/userFooter.ejs')  %>