<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from smartshop.websitelayout.net/shop-product-detail.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 03 Jan 2023 15:58:47 GMT -->

<head>

  <!-- metas -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <!-- title  -->
  <title>HoodHub</title>

  <!-- favicon -->
<link rel="shortcut icon" href="/img/logos/favicon.png">

  <!-- plugins -->
  <link rel="stylesheet" href="/css/plugins.css">

  <!-- theme core css -->
  <link href="/css/styles.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.1/dist/sweetalert2.all.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.1/dist/sweetalert2.all.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
    crossorigin="anonymous"></script>
	<link rel="stylesheet" href="/login/style.css">
</head>

<body>



	<div class="nevhead">

    </div>
  
    <div class="container">
    
      <h1>Create an Account</h1>
      <form method="post" class="row g-3 needs-validation" id="form" novalidate>
        <div class="col-md-12">
          <div class="form-outline">
            <input type="text" class="form-control " id="name" name="name" placeholder="Enter Your Name"
              required />
            <div class="invalid-feedback">Please Enter Your Name</div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-outline">
            <input type="email" class="form-control" id="email" name="email" placeholder=" Enter Your Email" required />
            <div class="invalid-feedback" id="emailerr">Please Enter Your Email</div>
           
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-outline">
            <input type="text" class="form-control" id="number"  name="number"
              placeholder=" Enter Your Number" required />
            <div class="invalid-feedback" id="numbererr">Please Enter Your Number</div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-outline">
            <input type="password" class="form-control" id="password"  minlength="8" name="password" placeholder="Create a Password"
              required />
            <div class="invalid-feedback" id="passerr">Please Enter Your Password</div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-outline">
            <input type="password" class="form-control" id="repass" minlength="8"  placeholder="Re Enter Password"
              required />
            <div class="invalid-feedback" id="repasserr">Please Enter Your confirmpassword</div>
          </div>
        </div>
        <div class="col-12">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required />
            <label class="form-check-label" for="invalidCheck">Agree to <a href="">terms</a> and <a href="">conditions</a></label>
            <div class="invalid-feedback">You must agree before submitting.</div>
          </div>
        </div>
        <div class="col-12">
          <button type="submit">Submit</button>
        </div>
        <div class="error" style="color: darkred;"></div>
            <% if(typeof message !=='undefined' ){ %>
              <div style="color: darkred;">
                <%= message %>
              </div>
              <% } %>
      </form>
  
      <script>

(() => {
  'use strict';
  
  const forms = document.querySelectorAll('.needs-validation');

  Array.prototype.slice.call(forms).forEach((form) => {
    form.addEventListener('submit', (event) => {
      
      if (!form.checkValidity()) {
        event.preventDefault();
        event.stopPropagation();
        
      }
      form.classList.add('was-validated');

     
    }, false);
  });
})();
      </script>

<script>
  form.addEventListener('submit', (e) => {
  let message = [];
  const form = document.getElementById('form');
  const emailInput = document.getElementById('email');
  const phoneInput = document.getElementById('number');
  const passwordInput = document.getElementById('password');
  const RpasswordInput = document.getElementById('repass');
  const errorElement = document.querySelector('.error');

  

  
    const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
    const phoneRegex = /^\d{10}$/;
    const regex_password = /(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[^A-Za-z0-9])(?=.{8,})/gm
 


    
    if (!emailRegex.test(emailInput.value.trim())) {
      message.push('Email is invalid');
    }
    
    else if (!phoneRegex.test(phoneInput.value.trim())) {
      message.push('Phone number is invalid');
    }
    
    else if(!regex_password.test(passwordInput.value.trim())){
      message.push('Use strong password');
    }

    else if (RpasswordInput.value.trim().length===0) {
      message.push('confirm password is required');
    }
    
    else if (passwordInput.value !== RpasswordInput.value.trim()) {
      message.push('Passwords do not match');
      event.stopPropagation();
    }

    if (message.length > 0) {
      e.preventDefault(); 
      errorElement.innerText = message.join(', ');
    }
  });
  </script>

  
    </div>
  


<!-- all js include start -->

<!-- jQuery -->
<script src="/js/jquery.min.js"></script>

<!-- popper js -->
<script src="/js/popper.min.js"></script>

<!-- bootstrap -->
<script src="/js/bootstrap.min.js"></script>

<!-- core.min.js -->
<script src="/js/core.min.js"></script>

<!-- zoom js -->
<script src="/js/xzoom.js"></script>

<!-- hammer js -->
<script src="/js/jquery.hammer.min.js"></script>

<!-- setup js -->
<script src="/js/setup.js"></script>

<!-- custom scripts -->
<script src="/js/main.js"></script>

<!-- all js include end -->

</body>


<!-- Mirrored from smartshop.websitelayout.net/shop-product-detail.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 03 Jan 2023 15:59:12 GMT -->

</html>